@using ImageImporter.Models.Db
@using ImageImporter.Models.Enums
@model IEnumerable<Picture>


@{
    ViewData["Title"] = "Home Page";
}

@section Scripts
{
	<script src="~/lib/microsoft-signalr/signalr.js"></script>
	<script src="~/js/dupes.js" asp-append-version="true"></script>
}


 
<div class="container">
    <div class="row">



        <fieldset>
            <legend class="FieldSet-legend-2KHms">Duplicates</legend>
            <table class="Table-table-1Ion0">
	            <thead><tr>
	                <th class="">Hash</th>
					<th class="">Quality</th>
	                <th class="">Image</th>
					<th></th>
	            </tr></thead>

                <tbody>
					
                @foreach(var item in Model)
				{
					
					<tr id="@item.Id" item-hash="@item.Hash">
					<td>@item.Hash</td>
					<td>@item.Quality</td>
					<td>
						<a href="@item.File.Replace("wwwroot", "")">
							<div class="card icard" style="width: 18rem;">
								<img src="@item.Thumbnail.Replace("wwwroot", "")"/>
							</div>
						</a>
					</td>
					<td>
						<button type="button" class="btn btn-default deletePicture" picid="@item.Id">
							<i class="bi bi-trash"></i>
						</button>
					</td>
					</tr>
				}

				</tbody>
            </table>
        </fieldset>
    </div>
</div>
 

