@using ImageImporter.Models.Db.ActionItems
@using ImageImporter.Models.Enums
@model IEnumerable<ActionItem>


@{
    ViewData["Title"] = "Home Page";
}


 
<div class="container">
    <div class="row">



        <fieldset>
            <legend class="FieldSet-legend-2KHms">History</legend>
            <table class="Table-table-1Ion0">
	            <thead><tr>
	                <th class="">Action</th>
	                <th class="">Hash</th>
	                <th class="">Image</th>
	            </tr></thead>

                <tbody>
					
                @foreach(var item in Model)
				{
					
					<tr id="@item.Id">
					

					@switch(item)
							{
								case PictureFoundItem pfi:
								<td>@item.GetType().Name</td>
								<td>@pfi.Picture.Hash</td>
								<td>

									<a href="@pfi.Picture.File.Replace("wwwroot", "")">
										<div class="card icard" style="width: 18rem;">
											<img src="@pfi.Picture.Thumbnail.Replace("wwwroot", "")"/>
										</div>
									</a>
								</td>
									break;

								case PictureRemovedItem pri:
								<td>@item.GetType().Name</td>
								<td>@pri.Picture.Hash</td>
								<td>
									<div class="card icard" style="width: 18rem;">
										<img src="@pri.Picture.Thumbnail.Replace("wwwroot", "")"/>
									</div>
								</td>
									break;
							}
					</tr>
				}

				</tbody>
            </table>
        </fieldset>

    </div>
</div>
 
<script src="~/lib/microsoft-signalr/signalr.js"></script>
