@using ImageImporter.Models.View
@using ImageImporter.Models.Enums
@model IEnumerable<PictureImportItemViewModel>


@{
    ViewData["Title"] = "Home Page";
}


 
<div class="container">
    <div class="row">



        <fieldset>
            <legend class="FieldSet-legend-2KHms">History</legend>
            <table class="Table-table-1Ion0">
	            <thead><tr>
	                <th class="">Action</th>
	                <th class="">Hash</th>
	                <th class="">Image</th>
	            </tr></thead>

                <tbody>
					
                @foreach(var item in Model)
				{
					
					<tr id="@item.Id">
					<td>@item.ActionType.ToString()</td>
					<td>@item.Hash</td>
					<td>
						
						<a href="@item.File">
							<div class="card icard" style="width: 18rem;">
								<img src="@item.Thumbnail"/>
								@if(item.ActionType == ActionType.PictureMatchImportItem)
								{
									<img src="@item.RemovedFileThumbnail"/>	
								}
							</div>
						</a>
						

					</td>
					</tr>
				}

				</tbody>
            </table>
        </fieldset>

    </div>
</div>
 
<script src="~/lib/microsoft-signalr/signalr.js"></script>
